<%- include("partials/header"); -%>
    <!-- header -->
    <header class="masthead" style="background-image: url('/assets/img/shrine2.webp')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1 class="fs-3">Reaching To Sri AdiGurupuja Venue Bengaluru</h1>
                        <!-- <span class="subheading">Let's jot something down today...</span> -->
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="mb-4">
        <div id="englishContent">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <h2>Travel Information to Puja Venu</h2>
                        <p> 📍Sri Convention Centre, 80 Feet Rd, Banashankari 6th Stage 1st Block, Bharath Housing Society
                            Layout, Subramanyapura, Bengaluru, Karnataka 560062</p>
                        <p> 🕹️ Google Map Location:<a href=" https://maps.app.goo.gl/1yFXWrkKrtYEHeUj9">Click For
                                Map</a><br></p>
                        <p>It is located very near (3 Km) to KSIT College on Kanakapura Road and Vajrahalli Metro
                            Station.</p>
                        <p>Bengaluru is well connected with Air, Rail and Road</p>

                        <div class="page">
                            <div class="transport-method ">
                                <h3>1. 🛬 BY AIR 🛬</h3>
                                <p>KIAL (Bengaluru) Airport is 48 Km from the Puja Venue. Local Taxis (Ola/Uber) are
                                    available.</p>
                            </div>

                            <div class="transport-method">
                                <h3>2. 🚉 BY RAILWAY 🚉</h3>
                                <p>KSR Bengaluru City Junction and Bus Stand is 16 Km and Yeshwanthpur Railway
                                    Station is 23 Km from Puja Venue. Railway Station (KSR Bengaluru City
                                    Junction and Yeshwanthpur Station) is well connected via GREEN LINE METRO to Nearest
                                    Metro Station (Vajrahalli) Reach Venue.</p>
                            </div>

                            <div class="transport-method">
                                <h3>3. 🚏 BY BUS 🚏</h3>
                                <p>Bus Stand (KSR Bengaluru City Junction) and Railway Station (KSR Bengaluru City
                                    Junction and Yeshwanthpur Station) is well connected via GREEN LINE METRO to Nearest
                                    Metro Station (Vajrahalli) Reach Venue.

                                </p>
                            </div>
                        </div>

                        <hr class="my-4" />
                    </div>
                </div>
            </div>
        </div>

        <div id="hindiContent" style="display: none;">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <h2>श्री आदिगुरुपूजा स्थल तक पहुंचने के लिए यात्रा सूचना</h2>

                        <p>श्री कन्वेंशन सेंटर, 80 फीट रोड, बनशंकरी 6वां चरण 1 ब्लॉक, भारत हाउसिंग सोसाइटी लेआउट,
                            सुब्रमण्यपुरा, बेंगलुरु, कर्नाटक 560062</p>
                        <p>Google Map Location:<a href=" https://maps.app.goo.gl/1yFXWrkKrtYEHeUj9">Click For
                                Map</a><br></p>

                        <div class="page">
                            <div class="transport-method ">
                                <h3>1. हवाई जहाज से</h3>
                                <p>KIAL (बेंगलुरु) हवाई अड्डा पूजा स्थल से 48 किमी दूर है। स्थानीय टैक्सियाँ (ओला/उबर)
                                    उपलब्ध हैं।</p>
                            </div>

                            <div class="transport-method">
                                <h3>2. रेल से</h3>
                                <p>केएसआर बेंगलुरु सिटी जंक्शन और बस स्टैंड 16 किमी दूर है और यशवंतपुर रेलवे स्टेशन पूजा
                                    स्थल से 23 किमी दूर है। रेलवे स्टेशन (केएसआर बेंगलुरु सिटी जंक्शन और यशवंतपुर
                                    स्टेशन) ग्रीन लाइन मेट्रो के माध्यम से निकटतम मेट्रो स्टेशन (वज्रहल्ली) पहुंच स्थल
                                    से अच्छी तरह से जुड़ा हुआ है।</p>
                            </div>

                            <div class="transport-method">
                                <h3>3. बस से</h3>
                                <p>बस स्टैंड (केएसआर बेंगलुरु सिटी जंक्शन) और रेलवे स्टेशन (केएसआर बेंगलुरु सिटी जंक्शन
                                    और यशवंतपुर स्टेशन) ग्रीन लाइन मेट्रो के माध्यम से निकटतम मेट्रो स्टेशन (वज्रहल्ली)
                                    पहुंच स्थल से अच्छी तरह से जुड़ा हुआ है।</p>
                            </div>
                        </div>

                        <hr class="my-4" />
                    </div>
                </div>
            </div>
        </div>
    </main>

    <%- include("partials/footer"); -%>