<%- include("partials/header"); -%>
    <!-- header -->
    <header class="masthead" style="background-image: url('/assets/img/anand.webp')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>CONTACT US</h1>
                        <span class="subheading">Feel free to contact us, in case of any queries or opinions.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

<main class="mb-4">
  <div id="englishContent">
    <div class="container ">
        <h3  class="text-center">CONTACT INFORMATION</h3>
        <table class="table table-bordered table-responsive-md">
          <thead class="thead-light">
            <tr>
              <th scope="col">Name & Team</th>
              <th scope="col">Contact Number</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Shreyansh Jain - Registration Team</td>
              <td>+91 9039391390</td>
            </tr>
            <tr>
              <td>Manish Sahu - Registration Team</td>
              <td>+91 9754850043</td>
            </tr>
            <tr>
              <td>Sahaji Behan - Accommodation Team</td>
              <td>+91 XXXXXXXXXX</td> <!-- Add the actual number -->
            </tr>
            <tr>
              <td>Sahaji Bhai - Accommodation Team</td>
              <td>+91 XXXXXXXXXX</td> <!-- Add the actual number -->
            </tr>
            <tr>
              <td>Mr. Praveen Bharti - Transportation Team at Nagpur</td>
              <td>+91 7972657590</td>
            </tr>
            <tr>
              <td>Mr. Sachin Patil - Transportation Team at Nagpur</td>
              <td>+91 9823195400</td>
            </tr>
            <tr>
              <td>Mr. Sorav Sawde - Transportation Team at Chhindwara</td>
              <td>+91 9406565007</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</main>


<%- include("partials/footer"); -%>