<%- include("partials/header"); -%>
  <!-- header -->
  <header class="masthead" style="background-image: url('/assets/img/maa_charan.webp')">
    <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <div class="site-heading">
            <h1 class="fs-3">JAI SHRI MATAJI 🙏🏻🪷 </h1>
            <span class="subheading fs-20">We cordially invite all our brothers and sisters from all corners of the
              world to join us in the holy land of Bengaluru to offer a Puja to our beloved mother in the form of Shri
              Adi Guru 💖</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div id="englishContent">
    <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">

          <h6 class="text-center fs-6 text-secondary">H. H. SHRI MATAJI NIRMALA DEVI SAHAJA YOGA TRUST, INDIA</h6>
          <h2 class="text-center">SHRI ADIGURU PUJA & SEMINAR - 2024</h2>
          <p class="text-center mt-0">19th - 21st JULY, 2024 | BENGALURU, KARNATAKA, India</p>

          <img src="assets/img/maa.webp" class="col-md-12 rounded-5">

          <h3 class="text-center mt-3">Message for World Collectivity</h3>
          <p class="fst-italic para fs-6" style="text-align: justify;"> “Today is a great day, for all of us, because we
            are celebrating the Guru Puja
            and remembering all the great Gurus who came on this earth to teach the world about the truth.
            So many of them were there. And they tried their level best to explain to humanity what is spirituality.
            But it's such a disparity that people never understood that spirituality is the most important thing we
            need.
            That we have to be one with the Divine Power. All their endeavour have been in the wrong direction.
            First of course they were very intelligent, more than animals, and started seeking, not the truth,
            but some sort of a self-emancipation I should say, or I don't know what to say, call it self-progress.
            And in that they lost that they have to first seek spirituality, which is the most important thing." - Guru
            Puja 21 July 2002</p>
          <p class="text-center mt-0 fw-bold">H. H. Shri Mataji Nirmala Devi</p>


          <hr>
          <h3 class="text-center">REGISTRATION INFORMATION</h3>
          <p class="fw-bold">FOR INDIAN YOGIS/YOGINIS</p>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">CATEGORY</th>
                <th scope="col">Before 10th July</th>
                <th scope="col">After 10th July</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Adults</td>
                <td>₹ 2450/-</td>
                <td>₹ 2750/-</td>
              </tr>
              <tr>
                <td>Yuva Shakti</td>
                <td>₹ 1850/-</td>
                <td>₹ 2050/-</td>
              </tr>
              <tr>
                <td>Bal Shakti</td>
                <td>₹ 950/-</td>
                <td>₹ 1050/-</td>
              </tr>
              <tr>
                <td>One Day Puja (Adults & Yuva )</td>
                <td>₹ 850/-</td>
                <td>₹ 850/-</td>
              </tr>
              <tr>
                <td>One Day Puja (Bal shakti)</td>
                <td>₹ 450/</td>
                <td>₹ 450/</td>
              </tr>
            </tbody>
          </table>

          <p class="fw-bold mb-2">FOR FOREIGN YOGIS/YOGINIS</p>
          <p class="mb-0 mt-0">CATEGORY: All | CONTRIBUTION: SAME AS INDIAN YOGIS/YOGINIS</p>
          <hr>
        </div>
      </div>
    </div>
    <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <a href="registration" class="btn btn-success custom-btn  rounded mx-auto d-block">Click here for
            Registration!</a>

        </div>
      </div>
    </div>

    <div class="container page mb-5 mt-4">
      <h3 class="text-center ">CONTACT INFORMATION</h3>
      <table class="table  border-dark  table-responsive-md">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Name & Team</th>
            <th scope="col">Contact Number</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Mr. Amit Dixit - Registration Team</td>
            <td>+91 8884300770</td>
          </tr>
          <tr>
            <td>Mr. Nagesh S M - Registration Team</td>
            <td>+91 9902012622</td>
          </tr>
          <tr>
            <td>Mr. Gaurav Juyal - Accommodation Team</td>
            <td>+91 9999990923</td> <!-- Add the actual number -->
          </tr>
          <tr>
            <td>Mr. Skanda Kumar - Accommodation Team</td>
            <td>+91 9611785225</td> <!-- Add the actual number -->
          </tr>
          <tr>
            <td>Mr. Rajesh Vaddi - Transportation Team</td>
            <td>+91 8553304124</td>
          </tr>
          <tr>
            <td>Mr. Deva Pawan - Transportation Team</td>
            <td>+91 6360322307</td>
          </tr>
        </tbody>
      </table>

      <h3 class="text-center ">PUJA ORGANIZING CHANNELS</h3>
      <table class="table  border-dark  table-responsive-md">
        <tbody>
          <!-- <tr>
                <td >Mr. Ramesh Mantana</td>
                <td >+91 9866522879</td>
              </tr>
              <tr>
                <td >Dr. Pratap Udwani</td>
                <td >+91 9326865717</td>
              </tr> -->
          <tr>
            <td>Ms. Sonali Bhattacharjee</td>
            <td> </td>
          </tr>
          <tr>
            <td>Mr. Madhusudan T</td>
            <td>+91 9885041837</td>
          </tr>
          <tr>
            <td>Mr. Amit Kumar</td>
            <td>+91 9448345021 (State Coordinator)</td>
          </tr>
          <tr>
            <td>Mr. Pradyoth Varma</td>
            <td>+91 9632466885 </td>
          </tr>
          <tr>
            <td>Mr. Bharaniram Bhaskarabhatta</td>
            <td>Tamilnadu State Coordinator</td>
          </tr>
          <tr>
            <td>Mr. Gourukrishna PrasadTelangana</td>
            <td>Telangana State Coordinator</td>
          </tr>
          <tr>
            <td>Mr. RamaKrishna Kalluru</td>
            <td>Andhra Pradesh Coordinator</td>
          </tr>
          <tr>
            <td>Mr. P C Santosh</td>
            <td>Kerala State Coordinator</td>
          </tr>
          </tr>
        </tbody>
      </table>

      <h3 class="mb-0 text-center mt-2 ms-3 me-3">Hotel Accommodation</h3>
      <p class=" mt-1 fw-bold text-justify mb-2 ms-3 me-3">A collective accommodation and food will be arranged at the
        Puja Venue. If you need any special assistance or you want to stay at the nearby hotels please contact:</p>
      <ul class="mt-0">
        <li>Mr. Gaurav Juyal, +91 9999990923</li>
        <li>Mr. Skanda Kuma, +91 9611785225</li>
      </ul>
    </div>
  </div>

  <div id="hindiContent" style="display: none;">
    <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">

          <h6 class="text-center fs-6 text-secondary">एच. एच. श्री माताजी निर्मला देवी सहज योगा ट्रस्ट, इंडिया</h6>
          <h2 class="text-center">श्री आदिगुरु पूजा और सेमिनार 2024</h2>
          <p class="text-center mt-0">19 जुलाई - 21 जुलाई, 2024 | बेंगलुरु , कर्नाटक , भारत</p>

          <img src="assets/img/maa.webp" class="col-md-12 rounded-5">

          <h3 class="text-center mt-3">विश्व समृद्धि के लिए संदेश</h3>
          <p class="fst-italic para fs-6" style="text-align: justify;"> "आज हम सभी के लिए एक महान दिन है, क्योंकि हम
            गुरु पूजा का जश्न मना रहे हैं और उन सभी महान गुरुओं को याद कर रहे हैं जो दुनिया को सच्चाई सिखाने के लिए इस
            धरती पर आए थे। उनमें से बहुत से लोग वहां मौजूद थे। और उन्होंने मानवता को यह समझाने की पूरी कोशिश की कि
            आध्यात्मिकता क्या है। लेकिन यह इतनी असमानता है कि लोगों ने कभी यह नहीं समझा कि आध्यात्मिकता सबसे महत्वपूर्ण
            चीज है जिसकी हमें आवश्यकता है। कि हमें ईश्वरीय शक्ति के साथ एक होना है। उनका सारा प्रयास गलत दिशा में रहा
            है।सबसे पहले, वे बहुत बुद्धिमान थे, जानवरों से भी अधिक, और उन्होंने सत्य की नहीं, बल्कि किसी प्रकार की
            आत्म-मुक्ति की तलाश शुरू कर दी, या, मुझे नहीं पता कि क्या कहना चाहिए, इसे कहें - आत्म-प्रगति। और इसमें वे
            हार गए कि उन्हें सबसे पहले आध्यात्मिकता की तलाश करनी होगी, जो सबसे महत्वपूर्ण बात है।" - गुरु पूजा 21 जुलाई
            2002</p>
          <p class="text-center mt-0 fw-bold">एच. एच. श्री माताजी निर्मला देवी</p>


          <hr>
          <h3 class="text-center">पंजीकरण सूचना</h3>
          <p class="fw-bold">भारतीय योगियों के लिए</p>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">श्रेणी</th>
                <th scope="col">10 जुलाई से पहले</th>
                <th scope="col">10 जुलाई के बाद</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>वयस्क</td>
                <td>₹ 2450/-</td>
                <td>₹ 2750/-</td>
              </tr>
              <tr>
                <td>युवा शक्ति</td>
                <td>₹ 1850/-</td>
                <td>₹ 2050/-</td>
              </tr>
              <tr>
                <td>बाल शक्ति</td>
                <td>₹ 950/-</td>
                <td>₹ 1050/-</td>
              </tr>
              <tr>
                <td>एक दिन पूजा (वयस्क और युवा शक्ति )</td>
                <td>₹ 850/-</td>
                <td>₹ 850/-</td>
              </tr>
              <tr>
                <td>एक दिन पूजा (बाल शक्ति)</td>
                <td>₹ 450/-</td>
                <td>₹ 450/-</td>
              </tr>
            </tbody>
          </table>
          <tr>

            <p class="fw-bold mb-2">विदेशी योगियों के लिए</p>
            <p class="mb-2 mt-0">श्रेणी: सभी | योगदान:भारतीय योगियों/योगिनियों के समान /-</p>
        </div>
      </div>
    </div>

    <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <a href="registration" class="btn btn-success custom-btn  rounded mx-auto d-block">पंजीकरण के लिए यहाँ क्लिक
            करें!</a>

        </div>
      </div>
    </div>
    <hr>

    <div class="container page mb-5 mt-4">
      <h3 class="text-center ">संपर्क सूचना</h3>
      <table class="table  border-dark  table-responsive-md">
        <thead class="thead-dark">
          <tr>
            <th scope="col">नाम और टीम</th>
            <th scope="col">संपर्क नंबर</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>श्री अमित दीक्षित - पंजीकरण टीम</td>
            <td>+91 8884300770</td>
          </tr>
          <tr>
            <td>श्री नागेश एस एम - पंजीकरण टीम</td>
            <td>+91 9902012622</td>
          </tr>
          <tr>
            <td>श्री गौरव जुयाल - आवास टीम</td>
            <td>+91 9999990923</td> <!-- वास्तविक नंबर जोड़ें -->
          </tr>
          <tr>
            <td>श्री स्कंद कुमार - आवास टीम</td>
            <td>+91 9611785225</td> <!-- वास्तविक नंबर जोड़ें -->
          </tr>
          <tr>
            <td>श्री राजेश वड्डी - परिवहन टीम</td>
            <td>+91 8553304124</td>
          </tr>
          <tr>
            <td>श्री देवा पवन - परिवहन टीम</td>
            <td>+91 6360322307</td>
          </tr>
        </tbody>
      </table>

      <h3 class="text-center ">पूजा संगठन चैनल्स</h3>
      <table class="table  border-dark  table-responsive-md">
        <tbody>
          <tr>
            <td>श्रीमती सोनाली भट्टाचार्या</td>
            <td></td>
          </tr>
          <tr>
            <td>श्री मधुसूदन टी</td>
            <td>+91 9885041837</td>
          </tr>
          <tr>
            <td>श्री अमित कुमार</td>
            <td>+91 9448345021 (राज्य समन्वयक)</td>
          </tr>
          <tr>
            <td>श्री प्रद्योथ वर्मा</td>
            <td>+91 9632466885</td>
          </tr>
          <tr>
            <td>श्री भरणीराम भास्करभट्ट</td>
            <td>तमिलनाडु राज्य समन्वयक</td>
          </tr>
          <tr>
            <td>श्री गौरकृष्ण प्रसाद</td>
            <td>तेलंगाना राज्य समन्वयक</td>
          </tr>
          <tr>
            <td>श्री रामकृष्ण कल्लुरु</td>
            <td>आंध्र प्रदेश समन्वयक</td>
          </tr>
          <tr>
            <td>श्री पी सी संतोष</td>
            <td>केरल राज्य समन्वयक</td>
          </tr>
        </tbody>
      </table>

      <h3 class="mb-0 text-center mt-2 ms-3 me-3">होटल आवास</h3>
      <p class=" mt-1 fw-bold text-justify mb-2 ms-3 me-3">पूजा स्थल पर सामूहिक आवास एवं भोजन की व्यवस्था की जायेगी. यदि
        आपको किसी विशेष सहायता की आवश्यकता है या आप नजदीकी होटलों में रुकना चाहते हैं तो कृपया संपर्क करें:</p>
      <ul class="mt-0">
        <li>श्री गौरव जुयाल, +91 9999990923</li>
        <li>श्री स्कंद कुमार, +91 9611785225</li>
      </ul>
    </div>
  </div>

  <%- include("partials/footer"); -%>