<%- include("partials/header"); -%>
    
    <header class="masthead" style="background-image: url('/assets/img/vibrations.webp')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1 class="fs-3">Puja Schedule</h1>
                        <span class="subheading">Please find the schedule for Shri Adi Guru Puja.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main class="mb-4">
        <div id="englishContent">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        
                        <div class="day">
                            <h2>Day 1st : 19th July 2024 Friday</h2>
                            <div class="schedule">
                                <div class="time">05:45 AM - 07:00 AM</div>
                                <div class="event">Morning Meditation</div>
                    
                                <div class="time">08:00 AM Onwards</div>
                                <div class="event">Registration Begins</div>
                    
                                <div class="time">08:30 AM - 10:00 AM</div>
                                <div class="event">Breakfast</div>
                    
                                <div class="time">10:30 AM - 1:00 PM</div>
                                <div class="event">Welcome, Meditation, Seminar - Gurus & Guru Tatwa</div>
                    
                                <div class="time">01:00 PM - 2:30 PM</div>
                                <div class="event">Lunch Break</div>

                                <div class="time">03:00 PM - 05:00 PM</div>
                                <div class="event">Seminar - Gurus & Guru Tatwa</div>

                                <div class="time">05:00 PM - 6:00 PM</div>
                                <div class="event">Tea Break</div>

                                <div class="time">06:00 PM - 6:30 PM</div>
                                <div class="event">Meditation</div>

                                <div class="time">06:30 PM - 10:00 PM</div>
                                <div class="event">Cultural and Music Program</div>

                                <div class="time">08:00 PM - Onwards</div>
                                <div class="event">Dinner</div>
                            </div>
                        </div>
                        <hr>
                        
                        <div class="day">
                            <h2>Day 2nd : 20th July 2024 Saturday</h2>
                            <div class="schedule">
                                <div class="time">05:45 AM - 07:00 AM</div>
                                <div class="event">Morning Meditation</div>
                                
                                <div class="time">07:00 AM </div>
                                <div class="event">Morning Tea</div>
                                
                                <div class="time">08:30 AM - 10:00 AM</div>
                                <div class="event">Breakfast</div>
                    
                                <div class="time">10:00 AM - 01:00 PM</div>
                                <div class="event">Seminar - Gurus & Guru Tatwa</div>
    
                                <div class="time">01:00 PM - 02:30 PM</div>
                                <div class="event">Lunch Break</div>
                    
                                <div class="time">02:30 PM - 05:00 PM</div>
                                <div class="event">Seminar and Collective Clearance</div>
                                
                                <div class="time">05:00 PM - 06:00 PM</div>
                                <div class="event">Tea Break</div>
                                
                                <div class="time">06:00 PM - 06:30 PM</div>
                                <div class="event">Meditation</div>
                                
                                <div class="time">06:30 PM - 10:00 PM</div>
                                <div class="event">Cultural and Music Program</div>

                                <div class="time">08:00 PM - Onwards</div>
                                <div class="event">Dinner</div>
                            </div>
                        </div>
                        <hr>
                        
                        <div class="day">
                            <h2>Day 3rd : 21st July Sunday</h2>
                            <div class="schedule">
                                <div class="time">05:45 AM - 07:00 AM</div>
                                <div class="event">Morning Meditation</div>
                    
                                <div class="time">07:00 AM </div>
                                <div class="event">Morning Tea</div>
                    
                                <div class="time">08:30 AM - 10:00 AM</div>
                                <div class="event">Breakfast & Puja Preparations</div>
                    
                                <div class="time">10:30 AM - 01:30 PM</div>
                                <div class="event">Shri Adi Guru Puja </div>
                    
                                <div class="time">01:30 PM - Onwards</div>
                                <div class="event">Maha Prasad & Departure</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="hindiContent" style="display: none;">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
            
                        <div class="day">
                            <h2>पहला दिन - 19 जुलाई शुक्रवार </h2>
                            <div class="schedule">
                                <div class="time">05:45 AM - 07:00 AM</div>
                                <div class="event">सुबह की ध्यान</div>
            
                                <div class="time">08:00 AM से आगे</div>
                                <div class="event">रजिस्ट्रेशन शुरू होता है</div>
            
                                <div class="time">08:30 AM - 10:00 AM</div>
                                <div class="event">नाश्ता</div>
            
                                <div class="time">10:30 AM - 1:00 PM</div>
                                <div class="event">स्वागत, ध्यान, सेमिनार - गुरु और गुरु तत्व</div>

                                <div class="time">01:00 PM - 2:30 PM</div>
                                <div class="event">दोपहर का भोजनावकाश</div>

                                <div class="time">03:00 PM - 05:00 PM</div>
                                <div class="event">सेमिनार - गुरु और गुरु तत्व</div>

                                <div class="time">05:00 PM - 6:00 PM</div>
                                <div class="event">चाय ब्रेक</div>

                                <div class="time">06:00 PM - 6:30 PM</div>
                                <div class="event">ध्यान</div>

                                <div class="time">06:30 PM - 10:00 PM</div>
                                <div class="event">सांस्कृतिक एवं संगीत कार्यक्रम</div>

                                <div class="time">8:00 PM से आगे</div>
                                <div class="event">शाम का भोजन </div>
                            </div>
                        </div>
                        <hr>
            
                        <div class="day">
                            <h2>दूसरा दिन - 20 जुलाई शनिवार</h2>
                            <div class="schedule">
                                <div class="time">05:45 AM - 07:00 AM</div>
                                <div class="event">सुबह की ध्यान</div>
            
                                <div class="time">07:00 AM</div>
                                <div class="event">सुबह की चाय</div>
            
                                <div class="time">08:30 AM - 10:00 AM</div>
                                <div class="event">नाश्ता</div>

                                <div class="time">10:00 AM - 1:00 PM</div>
                                <div class="event">सेमिनार - गुरु और गुरु तत्व💫</div>

                                <div class="time">01:00 PM - 2:30 PM</div>
                                <div class="event">दोपहर का भोजनावकाश</div>
            
                                <div class="time">02:30 PM - 05:00 PM</div>
                                <div class="event">सेमिनार एवं सामूहिक क्लीयरेंस </div>
            
                                <div class="time">05:00 PM - 6:00 PM</div>
                                <div class="event">चाय ब्रेक</div>
            
                                <div class="time">06:00 PM - 6:30 PM</div>
                                <div class="event">ध्यान</div>

                                <div class="time">06:30 PM - 10:00 PM</div>
                                <div class="event">सांस्कृतिक एवं संगीत कार्यक्रम</div>

                                <div class="time">8:00 PM से आगे</div>
                                <div class="event">शाम का भोजन </div>
                            </div>
                        </div>
                        <hr>
            
                        <div class="day">
                            <h2>तीसरा दिन - 21 जुलाई रविवार</h2>
                            <div class="schedule">
                                <div class="time">05:45 AM - 07:00 AM</div>
                                <div class="event">सुबह की ध्यान</div>
            
                                <div class="time">07:00 AM</div>
                                <div class="event">सुबह की चाय</div>
            
                                <div class="time">8:30 AM to 10:00 AM</div>
                                <div class="event">नाश्ता और पूजा की तैयारी</div>
            
                                <div class="time">10:30 AM - 01:30 PM</div>
                                <div class="event">श्री आदि गुरु पूजा</div>
            
                                <div class="time">01:30 PM - से आगे</div>
                                <div class="event">महाप्रसाद एवं प्रस्थान</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </main>

<%- include("partials/footer"); -%>